<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app" style="display: flex;flex-direction: column;align-items: center;">
        <el-select v-model="value" multiple placeholder="限制职业范围" style="margin-bottom: 20px;">
            <el-option v-for="item in jobList" :key="item.id" :label="item.name" :value="item.id">
            </el-option>
        </el-select>
        <div style="margin-bottom: 10px;">
            <el-button @click="start">开始选择</el-button>
            <el-button @click="stop">停止</el-button>
            <el-button @click="reset">重置</el-button>
        </div>
        <div>
            {{job}}
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                jobList: [
                    { id: 1, name: '战士' },
                    { id: 2, name: '骑士' },
                    { id: 111, name: '黑骑' },
                    { id: 3, name: '枪刃' },
                    { id: 4, name: '龙骑' },
                    { id: 5, name: '武僧' },
                    { id: 6, name: '忍者' },
                    { id: 7, name: '武士' },
                    { id: 8, name: '黑魔' },
                    { id: 9, name: '召唤' },
                    { id: 10, name: '赤魔' },
                    { id: 11, name: '诗人' },
                    { id: 12, name: '机工' },
                    { id: 13, name: '舞者' },
                    { id: 14, name: '白魔' },
                    { id: 15, name: '学者' },
                    { id: 16, name: '占星' }
                ],
                value: [],
                jobs: [],
                job: '',
                setInterval: null
            }
        },
        methods: {
            start() {
                if (this.value == '') {
                    this.jobs = this.jobList
                } else {
                    this.jobs = this.jobList.filter(item => {
                        return this.value.indexOf(item.id) > -1
                    })
                }
                console.log(this.jobs)
                this.setInterval = setInterval(() => {
                    this.job = this.jobs[Math.floor(Math.random() * this.jobs.length)].name
                }, 100);
            },
            stop() {
                clearInterval(this.setInterval)
            },
            reset(){
                this.jobs = []
                this.job = ''
            }
        }
    })
</script>

</html>